html {
    font-size: 16px;
}


/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    body {
        background-color: blue;
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
    body {
        background-color: olive;
    }
}

h1 {
    font-size: 4.438rem;
    line-height: 1.1818;
    font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

#cloud {
    height: calc(100vh - 49px);
    background-color: #e5e5e5;
    /* text-shadow: 2px 2px #686666; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/cloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#features {
    height: 100vh;
    background-color: #e5e5e5;
    /* text-shadow: 2px 2px #686666; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutus {
    height: 100vh;
    background-color: #bbba9d93;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale();
}

.input-xl {
    font-size: 2rem;
}

.team {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
    background-color: #e5e5e5;
}

.team-member {
    margin: 10px;
}

.member-pic {
    height: 250px;
}

.member-pic img {
    height: 100%;
    padding: 25px;
}

.member-name {
    text-align: center;
    padding: 15px;
}

.feature-container {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
}

.feature {
    height: 100%;
    margin: 15px;
    width: 40%;
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.feature-image {
    height: 220px;
    margin-bottom: 10px;
    flex-grow: 1;
}