html {
    font-size: 16px;
}


/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 993px) {
    #features .feature-container {
        grid-template-columns: 100%;
        grid-gap: 0px;
    }
    #aboutus .team {
        grid-gap: 10px;
    }
}

@media screen and (min-width: 994px) {
    #features .feature-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;
    }
    #aboutus .team {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    body {
        background-color: olive;
    }
}

#features .feature-container {
    display: grid;
    grid-gap: 0px;
}

h1 {
    font-size: 4.438rem;
    line-height: 1.1818;
    font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

#cloud {
    height: calc(100vh - 49px);
    background-color: #e5e5e5;
    /* text-shadow: 2px 2px #686666; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/cloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#features {
    min-height: 100vh;
    background-color: #e5e5e5;
    /* text-shadow: 2px 2px #686666; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.feature-container {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
}

.feature {
    height: 100%;
    margin: 15px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.feature-image {
    margin-bottom: 10px;
    flex-grow: 1;
}

#aboutus {
    min-height: calc(100vh - 40px);
    background-color: #bbba9d93;
    display: grid;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.input-xl {
    font-size: 2rem;
}

.team {
    display: grid;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
}

.team-member {
    margin: 10px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-pic {
    height: 250px;
}

.member-pic img {
    height: 100%;
    padding: 25px;
}

.member-name {
    text-align: center;
    padding: 15px;
}

footer {
    height: 40px;
    text-align: center;
    background-color: #e5e5e5;
    padding-top: 12px;
    color: #22222293
}